@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
    --accent: #fb991b;
    --bg: #2b2b35;
    --height: 60px;
    --radius: 16px;
    --shadow: -4px -4px 4px #ffffff17, 4px 4px 4px rgba(0, 0, 0, 0.3);
    --shadow_inset: inset 4px 4px 4px rgba(0, 0, 0, 0.3), inset -4px -4px 4px #ffffff17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222429;
    color: var(--accent);
    font-family: 'Nunite', sans-serif;
    
}

 /* start grid styles  */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    grid-gap: 32px;
    padding: 64px;
}


/* end grid  styles */

/* button start  */

.buttons {
    display: flex;
    gap: 16px;
    font-size: 24px;
    font-weight: 100;
}

.button {
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    padding: 0 3vw;
    border-radius: var(--radius);
    color: #81818d;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}

.button_press {
    box-shadow: var(--shadow_inset);
    color: #4e4e58;
    font-weight: 200;
}

.button_hover {

}

.button_active {

}

 /* button end  */