@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url(../fonts/style.css);


:root {
    --accent: #fb991b;
    --bg: #2b2b35;
    --bg_inset: #23212c;
    --size: 60px;
    --radius: 16px;
    --shadow: -4px -4px 4px #ffffff17, 4px 4px 4px rgba(0, 0, 0, 0.3);
    --shadow_inset: inset 4px 4px 4px rgba(0, 0, 0, 0.3), inset -4px -4px 4px #ffffff17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222429;
    color: var(--accent);
    font-family: 'Nunite', sans-serif;
    
}

 /* start grid styles  */
.grid,
.inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    grid-gap: 32px;
    padding: 64px;
}

.inner-grid {
    min-height: initial;
}

.grid > div > *:not(:last-child), 
.inner-grid > div > *:not(:last-child) {
    margin-bottom: 32px;
}
/* end grid  styles */

/* start flex  */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* end  flex  */

/* Thems */
.default {
    color: #81818d;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}
.default ::-webkit-input-placeholder{
    color: #81818d;
}

.press {
    box-shadow: var(--shadow_inset);
    color: #4e4e58;
    font-weight: 200;
    background-color: var(--bg_inset);
}

.press ::-webkit-input-placeholder{
    color: #4e4e58;
}

.default:hover,
.hover {
    background: var(--accent);
    color: white;
    box-shadow: var(--shadow);
}

.hover ::-webkit-input-placeholder{
    color: white;
}

.active {
    color: var(--accent);
    background-color: var(--bg);
    box-shadow: var(--shadow);
}

.active ::-webkit-input-placeholder{
    color: var(--accent);
}

.icon {
    width: var(--size);
    padding: 0 !important;
}

/* End Thems style*/


/* button start  */

.buttons {
    display: flex;
    gap: 16px;
    font-size: 24px;
    font-weight: 100;
}

.button {
    cursor: pointer;
    height: var(--size);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
    border-radius: var(--radius);
}

/* start input styles  */

.input {
    height: var(--size);
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 24px;
    border-radius: var(--radius);
}

/* end input styles  */

/* Start switch styles  */

.switch {
    
}

.switch input {
display: none;
}

.switch div {
    cursor: pointer;
    position: relative;
    width: calc(var(--size) * 1.5); /*(2)*/
    height: calc(var(--size) / 2);
    margin-top: calc(var(--size) / 4);
    box-shadow: var(--shadow_inset);
    background-color: var(--bg_inset);
    border-radius: var(--radius);
    transition: all 0.3s ease-in-out;
}

.switch div::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -50%;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-color: var(--bg);
    box-shadow: var(--shadow);
    transition: all 0.3s ease-in-out;
}

.switch input:checked + div {
    background-color: var(--accent);
}

.switch input:checked + div::after {
    left: 50%;
}

/* End switch styles  */